<div class="container mx-auto">
  <h1 class="title">Edit Gallery</h1>
  <%= form_with model: [ :admin, @gallery ], local: true, html: { multipart: true } do |f| %>
    <div class="mb-4">
      <div class="mb-4">
        <%= f.label :title, class: "block font-bold text-lg mb-1" %>
        <%= f.text_field :title, class: "border rounded-md px-3 py-2 w-full mb-6" %>
        <%= f.label :cover_img, "Select Cover Image", class: "block font-bold text-lg mb-1" %>
        <%= f.file_field :cover_img,class: "py-2 px-4 rounded bg-green-500 text-white cursor-pointer hover:bg-green-700 mt-4 mb-6 text-center" %>
        <%= f.label :gallery_img, "Select Gallery Images", class: "block font-bold text-lg mb-1" %>
        <%= f.file_field :gallery_img, multiple: true, class: "py-2 px-4 rounded bg-green-500 text-white cursor-pointer hover:bg-green-700 mt-4 text-center" %>
        <%= f.submit "Update", class: "py-2 px-4 rounded bg-indigo-500 text-white cursor-pointer hover:bg-indigo-700" %>
      </div>
    </div>
  <% end %>
</div>
