<section class="container mx-auto max-w-full h-screen py-24">
  <div class="grid grid-cols-2 mt-16">
    <div class="px-6">
      <h1 class="text-3xl mb-6">Galleries</h1>
      <div class="space-y-4">
        <% @galleries.each do |gallery| %>
          <div class="flex items-center">
            <p class="mr-6"><%= gallery.title %></p>
            <%= link_to "Edit", edit_admin_gallery_path(gallery), class: "btn-primary mr-6" %>
            <%= link_to "Delete", admin_gallery_path(gallery), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn-danger" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="px-6">
      <h1 class="text-3xl mb-6">Products</h1>
      <div class="space-y-4">
        <% @products.each do |product| %>
        <div class="flex items-center">
          <p class="mr-6"><%= product.title %></p>
          <%= link_to "Edit", edit_admin_product_path(product), class: "btn-primary mr-6" %>
          <%= link_to "Delete", admin_product_path(product), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn-danger" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
