<section class="pt-24 md:pt-28 lg:pt-32 bg-default min-h-screen">
  <div class="container mx-auto py-20 px-8">
    <h1 class="text-4xl text-center">New Product</h1>
    <div class="flex justify-center items-center">
      <%= form_with model: [ :admin, @product ], local: true do |f| %>
        <div class="mb-4">
          <%= f.label :title, class: "block font-bold text-lg mb-1" %>
          <%= f.text_field :title, class: "border rounded-md px-3 py-2 w-full" %>
          <%= f.label :description, class: "block font-bold text-lg mb-1" %>
          <%= f.text_field :description, class: "border rounded-md px-3 py-2 w-full" %>
          <%= f.label :price, class: "block font-bold text-lg mb-1" %>
          <%= f.number_field :price, step: 0.01, min: 0, class: "border rounded-md px-3 py-2 w-full" %>
          <%= f.label :image, "Select Product Cover", class: "block font-bold text-lg mb-1" %>
          <%= f.file_field :image, class: "py-2 px-4 rounded bg-green-500 text-white cursor-pointer hover:bg-green-700 mt-4 text-center" %>
          <%= f.submit "Create", class: "py-2 px-4 rounded bg-indigo-500 text-white cursor-pointer hover:bg-indigo-700 mt-4" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
