<div class="container mx-auto max-w-screen">
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    <% @galleries.each do |gallery| %>
      <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm">
        <div>
          <% if gallery.cover_img.attached? %>
            <%= link_to url_for(gallery.cover_img), data: { fancybox: "gallery-#{gallery.id}" } do %>
              <%= image_tag gallery.cover_img.variant(resize_to_limit: [300, 300]), class: "rounded-t-lg" %>
            <% end %>
          <% end %>

          <% gallery.gallery_img.each do |image| %>
            <%= link_to url_for(image), data: { fancybox: "gallery-#{gallery.id}" }, style: "display:none" do %>
              <%= image_tag image.variant(resize_to_limit: [10, 10]) %>
            <% end %>
          <% end %>
        </div>
        <div class="p-5">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= gallery.title %></h5>
        </div>
      </div>
    <% end %>
  </div>
</div>
 <%= link_to gallery.title, gallery_path(gallery), class: "absolute inset-0 flex flex-col justify-center items-center rounded-lg translate-y-full group-hover:translate-y-0 opacity-0 group-hover:opacity-100 transition-all duration-500 text-4xl font-playfair text-white" %>
