<div class="container mx-auto">
  <h1 class="text-4xl text-center">Edit Product</h1>
  <div class="flex justify-center items-center">
    <%= form_with model: @product, local: true do |f| %>
      <div class="mb-4">
        <%= f.label :title, class: "block font-bold text-lg mb-1" %>
        <%= f.text_field :title, class: "border rounded-md px-3 py-2 w-full" %>
        <%= f.label :price, class: "block font-bold text-lg mb-1" %>
        <%= f.text_field :price, class: "border rounded-md px-3 py-2 w-full" %>
        <%= f.label :description, class: "block font-bold text-lg mb-1" %>
        <%= f.text_field :description, class: "border rounded-md px-3 py-2 w-full" %>
        <%= f.label :image, "Select Your Image", class: "block font-bold text-lg mb-1" %>
        <%= f.file_field :image, class: "py-2 px-4 rounded bg-green-500 text-white cursor-pointer hover:bg-green-700 mt-4 text-center" %>
        <%= f.submit "Update", class: "py-2 px-4 rounded bg-indigo-500 text-white cursor-pointer hover:bg-indigo-700 mt-4" %>
      </div>
    <% end %>
  </div>
</div>
