<div class="container mx-auto max-w-full">
  <div class="flex items-center justify-center">
    <%= link_to "New Product", new_product_path, class: "btn-primary" %>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
    <% @products.each do |product| %>
      <div class="card">
        <div>
          <% if product.image.attached? %>
            <%= link_to product_path(product) do %>
              <%= image_tag product.image, class: "object-fit rounded-md" %>
            <% end %>
          <% end %>
        </div>
        <div class="mt-2">
          <h2><%= product.title %></h2>
          <span><%= product.price %></span>
          <p class="mb-6"><%= product.description %></p>
          <%= link_to "Edit", edit_product_path(product), class: "btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
